<h2>By Country:</h2>
<hr>

<div class="row">
  <div class="col">
    <!--    searchBox-->
    <shared-search-box
      placeholder="Search by country"
      (onDebounce)="searchByCountry($event)"
      [initialValue]="initialValue">
    </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <!--    results table-->
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
